<html>
  <head>
    {% if title %}
    <title>{{ title }} - Matador Investment Leagues</title>
    {% else %}
    <title>Welcome to Matador Investment Leagues!</title>
    {% endif %}
  </head>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <body>
    <div>Matador: <a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>